.panel {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
}
.panel-white .panel-header {
  background: #fff;
  border-radius: 3px 3px 0 0;
}
.panel-grey .panel-header {
  background: #f6f6f6;
  border-radius: 3px 3px 0 0;
}
.panel-header, .panel-body {
  padding: 15px;
}
.panel-header {
  border-bottom: 1px solid #eee;
}
.panel-header .panel-title {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}
.panel-header .minor-info {
  color: #838383;
}

.label {
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
}
.label.light {
background: #369219;
}
.label.grey {
background: #b4b4b4;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info .user-name {
  text-decoration: none;
  color: #303133;
  padding: 0 15px;
}
.user-logo {
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
}
.user-logo.small {
  width: 30px;
  height: 30px;
}
.user-logo.vertical-middle {
  vertical-align: middle;
}
.user-logo.big {
  width: 50px;
  height: 50px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.left-container {
  margin-right: 305px;
}

.right-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 280px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 10px 5px;
}
.breadcrumbs > li {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
}
.breadcrumbs > li > a {
  color: #369219;
  text-decoration: none;
  max-width: 100px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 12px;
}
.breadcrumbs > li:after {
  position: absolute;
  display: inline-block;
  content: "/";
  padding: 0 3px;
  right: 0;
  color: #778087;
}

.view-more {
  padding: 10px 15px;
  font-size: 14px;
}
.view-more a {
  color:#909399;
  text-decoration: none;
}
.view-more i {
  padding: 0 5px;
}

.integral {
  color: #303133;
  font-size: 15px;
}

.empty-content {
  text-align: center;
  color: #909399;
  font-size: 20px;
}

.btn {
  font-size: 14px;
  color: #fff;
  background: #838a81;
  border: none;
  padding: 8px 20px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}
.btn-success {
  background: #369219;
}
.btn-primary {
  background: #3374de;
}

.form-group {
  font-size: 14px;
  color: #606266;
  margin-bottom: 20px;
}
.form-group label {
  line-height: 30px;
  display: inline-block;
  color: #606266;
}
.form-group input, 
.form-group textarea, 
.form-group select {
  border-radius: 3px;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #dcdfe6;
  color: #606266;
}
.form-group.error input,
.form-group.error textarea,
.form-group.error select {
  border-color: #c30000;
}
.form-group label, 
.form-group input,
.form-group select {
  height: 30px;
}
.form-group-inline input,
.form-group-inline textarea,
.form-group-inline select {
  width: 200px;
  display: inline-block;
}
.form-group-block input, 
.form-group-block textarea,
.form-group-block select {
  width: 98%;
  display: block;
}
.form-group input, .form-group textarea {
  outline: none;
  outline-offset: 0;
}
.form-group .required {
  color: #f00;
  padding: 0 5px;
}